
@{
    ViewData["Title"] = "Comment enregistrer votre établissement";
}

    <h1>Comment enregistrer votre établissement ?</h1>

<br />
<br />
<br />


<ul>
    <li>Créez un compte utilisateur en spécifiant bien que vous représentez un établissement </li>
    <br />
    <li>Si vous avez déjà un compte mais que vous avez oublié de cocher la case, vous pouvez modifier votre compte</li>
    <br />
    <li>Une fois enregristré, vous verrez apparaître un nouveau menu vous permettant d'ajouter et de gérer vos établissements</li>
    <br />
</ul>

