
@{
    ViewData["Title"] = "Remerciements";
}

<h1>Remerciements</h1>

<br />
<br />
<br />

<div>Je tiens particulièrement à remercier : </div>
<br />
<br />
<ul>
    <li>Jonathan pour son cours et l'opportunité qu'il nous a donné d'apprendre le .NET Core 3.0</li>
    <br />
    <li>http://www.freepik.com pour ses photos gratuites qui m'ont permis de nourrir le site</li>
    <br />
    <li>Kudvenkat de Pragim Technologies pour les tutoriels en ligne sur Youtube</li>
    <br />
    <li>https://www.w3schools.com/ pour les tutoriels en html, css, js et jquery </li>
    <br />
    <li>https://www.entityframeworktutorial.net/ pour les tutoriels Entity Framework Core </li>
    <br />
    <li>https://identityserver.io/ pour le middleware d'authentification </li>
    <br />
    <li>https://codeseven.github.io/toastr/ pour le plugin de notification à l'utilisateur </li>
    <br />
    <li>https://vatlayer.com/ pour l'API de vérification de la TVA </li>
    <br />
    <li>https://leafletjs.com/ pour la carte</li>
    <br />
    <li>https://www.mapquest.com/ pour le geocoding </li>
    <br />
    <li>et bien d'autres qui m'ont permi d'avancer et d'enrichir mes connaissances </li>
</ul>



